@media only screen and (max-width: 767px) {
    html, nav, #header, #topmenu{
        width: 100vw;
    }
    #topMenu li:first-child {
        font-size: 17px;
        padding-left: 0
    }
    #topMenu li:last-child {
        margin-right: 5px;
    }
    #topMenu li{
        display: block;
        padding: 10px;
    }
    .text-projeto {
        font-size: 14px;
        line-height: 24px;
        padding: 0px;
    }
    .imgProjeto {
        width: 10vh;
        padding-left: 10px;;
    }
    .title-projeto {
        margin-left: -20px;
    }
}

